<div class="container py-5">
    <!-- <ng-template #errors class="text-danger">Error : {{}}</ng-template> -->
    <div class="card">
        <div class="card-header mb-4">Customers Lists : </div>
        <!-- <div class="card-body mb-3">
            {{searchForm.value | json}}
            <form (ngSubmit)="null" >
                <div class="input-group">
                    <label for="" class="input-group-text">keyword : </label>
                    <input type="text" class="form-control" formControlName="keyword">
                    <button class="btn btn-primary">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>
        </div> -->
        <div class="card-body">
            <table class="table table-bordered table-striped table-hover table-responsive text-center mb-4">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Role</th>
                        <th *ngIf="authService.hasRole('ADMIN')">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr >
                        <!-- hadchi bach affichina les données howa Data Binding ay anana lyina table products b la 
                        partie html ay ayi changement dar 3la chi donnée f table ghatbadal direct f l'affichage hit 
                        angular kima golna khdam b Reactive Programming ay dakchi taykon asynchrone -->
                        <td></td>
                        <td></td>
                        <td></td>
                        <td *ngIf="authService.hasRole('ADMIN')">
                            <button class="btn btn-success me-3" (click)="null">
                                <i class="bi bi-pencil"></i>
                            </button>
                            <button class="btn btn-danger" (click) = "null">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <ul class="nav nav-pills">
                <!-- hna créyina un tableau b had tari9a w li ghaykon length dialo howa totalPages li 3ndna -->
                <!-- <li *ngFor="let item of [].constructor(totalPages); let i = index">
                    <a [ngClass]="currentPage == i ? 'btn-info' : 'btn-outline-info'" class="btn me-2" 
                        (click)="goToPage(i)">
                        {{i+1}}
                    </a>
                </li> -->
            </ul>
        </div>
    </div>
</div>